    "subscription": {
          "base-url": "https://cdn.redhat.com/",
          "insights": false,
          "server-url": "subscription.rhsm.redhat.com",
          "organization": {{ rh_organization_number }},
          "activation-key": "{{ imagebuilder_activation_key }}"
        },